<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shrink!</title>
</head>
<style>
     body
     {
     background-color: gray;
     color: white;
     }
     .center_hor
     {
     margin: auto;
     width: %50;
     border: 3px solid green;
     padding: 100px;
     }
     .center_ver
     {
    margin: auto;
    width: %50;
    border: 3px black;
    padding: 5px;

    /* border: 3px solid green; */
     }
</style>
<body>
<div style="margin: 0 auto; text-align: center; width: %50; border: 3px solid white; padding: 100px;">
    <img th:src="@{img/logo.png}">
    <hr>
    <span>your link is saved!</span>
    <hr>
    <span>your short link: </span><a th:href="@{__${currentURL}____${shortLink.shortLink}__}" th:text="@{__${currentURL}____${shortLink.shortLink}__}"></a>
    <hr>
    <span>your original link: </span><a th:href="${shortLink.actualLink}" th:text="${shortLink.actualLink}"></a>
</div>

</body>
</html>